#logo {
    width: 130px!important;
}

#photo1 {
    height: 50px!important; 
    width: auto;
    margin-right: -70px;
}

#photo2 {
    height: 55px!important; 
    width: auto;
}

.navbar {
    text-align: center ;

    border-bottom: solid;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgba(206, 198, 243);
    background-color: rgba(191, 196, 232);
    font-weight: bold;
}